.page-heading{
    background-color: burlywood;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
}
.page-content{
    color:cadetblue;
    font-size: 18px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}