
body{
    margin: 0px;
    background-color: #55423d;
}
.main-container{
    width: 100%;
}
.main-heading{
    text-align: center;
    margin:0px;
    padding:10px 0px;
    color: #fffffe;
    font-size: 40px;
}
.text-align{
    text-align: center;
}
.heading-color{
    color: #fffffe;
}
.highlight-content{
    font-weight: bold;
    background-color: #e78fb3;
    padding: 5px;
    font-size: 18px;
}